In [22]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime

In [24]:
# This function automatically calculates my measure of volatility
# from entering the yahoo ticker as a string
# and returns it as a Pandas dataframe
# daily range divided by the median daily value

def wills_volatility(ticker):
    x = yf.Ticker(ticker).history(period='MAX')
    ans = []
    high = x['High']
    low = x['Low']
    mean = (abs(high)+abs(low))/2
    dr = abs(high-low)
    ans = (((dr/mean)*1000)+10)
    hi = pd.DataFrame(data=x)
    hi['Wills Volatility Measure'] = ans
    hi['Date'] = hi.index
    return(hi)

In [25]:
test = wills_volatility("^FTSE")
test.head(5) # great this works!

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Wills Volatility Measure,Date
Date,,,,,,,,,
1984-01-03,997.500000,1001.400024,997.500000,997.500000,0,0,0,13.902171,1984-01-03
1984-01-04,997.500000,999.500000,993.299988,998.599976,0,0,0,16.222413,1984-01-04
1984-01-05,1007.099976,1015.799988,1007.099976,1015.799988,0,0,0,18.601525,1984-01-05
1984-01-06,1019.000000,1029.300049,1019.000000,1029.000000,0,0,0,20.057168,1984-01-06
1984-01-09,1030.599976,1035.400024,1030.599976,1034.599976,0,0,0,14.646707,1984-01-09

In [26]:
# Now I will test suitability of my volatility measure

In [18]:
# This code retrieves the last 5 years of data for vix and s&p500
vix = yf.Ticker("^VIX").history(period='5Y')
SandP500 = yf.Ticker("^GSPC").history(period='5Y')

In [19]:
# This code calculates my measure of volatility for s&p500
High = SandP500['High'] 
Low = SandP500['Low']
day_range = abs((High)-(Low))
day_mean = (abs(High)+abs(Low))/2
SDR = ((day_range/(day_mean))*1000)+10

In [20]:
# This calculates Pearson's correlation coeffiecient
# between my measure of volatility and the VIX

SDR.corr(vix['Close'])

0.8065389739301058

In [21]:
# 0.8065 gives a strong, positive correlation
# between the series, thus my measure of volatility
# will be suitable to use from now on.